:root {
  --cp-orange: #f26122;
  --cp-blue: #378084;
}

.nav-link {
 color: white;
}

.orange-box {
  background-color: var(--cp-orange);
  height: 30px;
}

.card {
  border-radius: 0;
}

.btn {
  border: none;
  border-radius: 0;
  text-decoration: underline;
}

.main-card {
  background-image: url("background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-card-title-font {
  color: #fff;
  font: 3rem montserrat, helvetica, arial, sans-serif;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

.orange-card {
  background-color: var(--cp-orange);
  color: white;
}

.orange-card-btn {
  background-color: white ;
  color: var(--cp-orange);
}

.blue-card-btn {
  background-color: white;
  color: var(--cp-blue);
}

.blue-card {
  background-color: var(--cp-blue);
  color: white;
}

.white-card {
  background-color: #fff;
}

.white-card-btn {
  background-color: var(--cp-blue);
  color: white;
}

.grey-card {
  background-color: #f5f5f5;
}


.main-col {
  margin: 300px 0px 150px;
  padding: 0px 0px 0px 60px
}

